<div class="card border-primary mb-3 container col-sm-4" style="margin-top: 50px;">
    <div class="card-header ">Formulario de carga de ordem de servico de exame</div>
    <div class="card-body"></div>

    <form (ngSubmit)="create()">


        <div class="form-group-row">
            <label for="nome" class="col-form-label disabled">Numero Paciente</label>
            <div>
                <input type="text" class="form-control"   [(ngModel)]="ordem.ordemServico.paciente.id" (change)= "getPaciente()" name="numeroPaciente">
            </div>
        </div>

        <div class="form-group-row">
            <label for="nome" class="col-form-label disabled">Nome</label>
            <div>
                <input type="text" class="form-control" disabled [(ngModel)]="ordem.ordemServico.paciente.nome" name="nome">
            </div>
        </div>


        <div class="form-group-row ">
            <label for="nome" class="col-form-label disabled">Convenio</label>
            <div>
                <select class="form-select" aria-label="Default select example"
                    [(ngModel)]="ordem.ordemServico.convenio" name="convenio">
                    <option value="Unimed">Unimed</option>
                    <option value="Bradesco">Bradesco</option>
                    <option value="Amil">Amil</option>
                    <option value="Porto Seguro">Porto Seguro</option>
                    <option value="Sul América">Sul América</option>
                </select>
            </div>
        </div>


        <div class="form-group-row ">
            <label for="nome" class="col-form-label disabled">Posto de coleta</label>
            <div>
                <select class="form-select" aria-label="Default select example"
                    [(ngModel)]="ordem.ordemServico.postoColeta.descricao" name="descricao">
                    <option>Selecione o posto de Coleta</option>
                    <option *ngFor="let posto of postosColeta">
                        {{posto.descricao}}
                      </option>
                </select>
            </div>
        </div>


        <div class="form-group-row ">
            <label for="nome" class="col-form-label disabled">Médico/a</label>
            <div>
                <select class="form-select" 
                [(ngModel)]="ordem.ordemServico.medico.nome" name="nomeMedico">
                <option>Selecione o medico</option>
                <option *ngFor="let medico of medicos">
                    {{medico.nome}}
                  </option>
                </select>
            </div>
        </div>

        <div class="form-group-row ">
            <label for="nome" class="col-form-label disabled">Tipo de Exame</label>
            <div>
                <select class="form-select" 
                [(ngModel)]="ordem.exame.descricao" name="descricaoExame">
                <option>Selecione o tipo de exame</option>
                <option *ngFor="let exame of exames">
                    {{exame.descricao}}
                  </option>
                </select>
            </div>
        </div>


        <div class="form-group-row">
            <label for="" class="col-form-label">Data de entrega</label>
            <div>
                <input type="date" class="form-control" [(ngModel)]="ordem.ordemServico.data" name="data">
            </div>
        </div>


            


        <div class="form-group row" style="margin: 25px; margin-right: 0px; float: right;">
            <div>
                <button class="btn btn-primary" role="button">Carregar Ordem</button>
            </div>
        </div>
    </form>


</div>