<div class="card border-primary mb-3 container" style="margin-top: 50px;">
    <div class="card-header">Lista de servico de exames</div>
    <div class="card-body">
      <h5 class="card-title">Listado</h5>

      <table class="table table-bordered table-striped">
          <thead>
              <tr>
                <th>Id</th>
                  <th>Data de retiro</th>
                  <th>Convenio</th>
                  <th>Paciente</th>
                  <th>Posto de coleta</th>
                  <th>Medico</th>
                  <th>Tipo de exame</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let ordem of ordens">
                 <td>{{ordem.id}}</td>
                  <td>{{ordem.ordemServico.data}}</td>
                  <td>{{ordem.ordemServico.convenio}}</td>
                  <td>{{ordem.ordemServico.paciente.nome}}</td>
                  <td>{{ordem.ordemServico.postoColeta.descricao}}</td>
                  <td>{{ordem.ordemServico.medico.nome}}</td>
                  <td>{{ordem.exame.descricao}}</td>
                  <td>
                      <button type="button" name="button" [routerLink]= "['/ordem/form', ordem.id]" class="btn btn-primary">Editar</button>
                  </td>
                  <td>
                    <button type="button" name="button" (click)='delete(ordem)' class="btn btn-danger">Eliminar</button>
                </td>
              </tr>
          </tbody>
      </table>
    </div>
